body{
    margin: 0;
    background: #000;
    font-family: 'Average Sans', sans-serif;
}
h3{
    font-family: 'Russo One', sans-serif;
    font-weight: normal !important;
    text-transform: uppercase;
}

#topo{
  position:relative;
  display:block;
  height: 6em; 
  background:#000;
}
.logo{
    display:block;
    margin:auto;
    padding:1em;
    width:400px;
    height:145px;
    text-align:center;
}
#topo .menu{
    display:block;
    margin-top:20px;
    text-align: center;
    border-bottom:0.2em solid #333;
}
#topo ul{
    margin:0;
    padding:0;
}
#topo li{
    display:inline-block;
    margin-bottom: -2px;
    padding:1em 2em;
    border:1px solid #333;
    list-style: none;
    color:#fff;
}
#topo li:hover{
    background:#ccc;
    color:#000;
    cursor:pointer;
}
#topo .li_ativo{
    background:#333;
    color:#fff;
}

.main li{
    color:#fff;
}
.carrossel{
    width:100%;
    height: 30em; 
}
.imagem{
    position:relative;
    width:100%;
    height:30em;
    background: url('../img/img_3.png') no-repeat;
	transform: scale(0.90,0.90);
    background-position: center center;
}
.imagem .imgNav{
    position:absolute;
    bottom:0.5em;
    left:50%;
    width:20%;
    margin-left: -10%;  
    text-align: center;
}
.imagem .imgNav span{
    display:inline-block;
    width: 20px;
    height:10px;
    border:0.1em solid rgba(255,255,255,0.5);
    border-radius: 3px;
}
.imagem .imgNav span:hover{
    background: rgba(255,255,255,0.5);
}
.imagem .imgNav .span_ativo{
    background: #845EA2;
}

.conteudo{
    padding:2em;
}
.conteudo p{
   font-size:1em; 
   line-height: 1.8em;
}

.full{
    width: 100%;
}
.col-2{
    width:50%;
}
.col-3{
    float:left;
    margin:0.3%;
    width: 28.7%;
    padding:1% 2%;
    border-top:0.5em solid #111;
}
.col-3 a:hover{
	color:#5F3A7E;
}

#btn-back-to-top{
	background: url('../img/back_to_top.png') no-repeat;
	border: 0;
	bottom: 5px;
	position: fixed;
	height: 140px;
	width: 110px;
	transform: scale(0.5,0.5);
	right: 5px;
	text-indent: -9999px;
	z-index: 11;
	opacity: .5;
	vertical-align: baseline;
}
#btn-back-to-top:hover{
	opacity: 1;
}

.txtCenter{
    text-align: center;
}
.txtJusty{
    text-align: justify;
}
.txtLeft{
    text-align: left;
}
.txtGray{
    color:#999;
}
.txtWhite{
    color:#fff;
}
.txtPurple{
    color:#845EA2;
}
.txtDarkPurple{
    color:#5F3A7E;
}
.txtRed{
    color:#DB0D29;
}